/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 Aug, 2019, 1:42:05 PM
    Author     : w10
*/

    span+input[type=radio]{
        position:absolute;
        display:none !important;
    }
    
    .custom_radio{
        position: absolute;
        border-radius: 100%;
        border:2px solid #932e90;
        width:1.5em;
        height:1.5em;
        margin-left: .5em;
    }
    
    
     input[type='checkbox']{
        display:none;
    }
    
    label.checkbox{
        
        position:relative;
        border:.2em solid #932e90;
        width:1.7em;
        height:1.7em;
        text-align: center;
        vertical-align: middle;
        border-radius:.5em;
        
    }
