
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 72%;
	background-color: #5F5F5F;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
	position: absolute;
	z-index: 1;
	font-size: 14px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 40%;
  border-style: solid;
  border-color: black transparent transparent transparent;
}


